.contact {
    background: #E6E8ED;
    padding: 7px 0;
    color: #4F4F4F;
    a{
      color: #4F4F4F;
      font-weight: 500;
    }
    i {
        font-size: 35px;
        font-weight: bold;
    }
    .cont-title {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
}
